body {
    font-family: "Outfit", sans-serif;
    background-color: white;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 100dvh;
    margin: 0;
}

.container-pai{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 30px;
}

#container {
    background: rgb(235, 235, 235); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    width: 400px;
}

.img-logo{
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #012775;
}

h3{
    color: #3ea036;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #012775;
    font-size: 16px;
}

input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #4d6d85;
    font-weight: 600 ;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #4d6d85;
    font-weight: 600 ;
}

.textInput{
    color: #4d6d85;
    font-weight: 600 ;
}

.termo {
    margin: 15px 0;
    font-size: 14px;
    display: flex;
    text-align: center;
    width: 100%;
}

.termo input {
    margin-right: 5px;
    text-align: center;
    width: 20px;
    margin-top: 15px;
}

.termo label {
    text-align: center;
    margin-left: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3ea036;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}

button:hover {
    background-color: #218838;
}

.reset{
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    color: #4d6d85;
}


.disabled {
    opacity: 0.5;
    pointer-events: none; /* Impede o clique */
}

#icon-reset{
    cursor: pointer;
}

#icon-pdf{
    margin-right: 100px;
    cursor: pointer;
}

.label-checkList{
    text-align: center;
    padding: 10px 0 0 0;
}



.modal {
    display: none; /* Garante que o modal fique oculto inicialmente */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal p{
    font-size: 18px;
    color: #4d6d85;
    display: flex;
    flex-direction: column;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.modal button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 70%;
}

.modal button:first-child {
    background-color: green;
    color: white;
}

.modal button:last-child {
    background-color: red;
    color: white;
}







@media (min-width: 451px) and (max-width: 1224px) {
    .modal p{
        font-size: 16px;
        color: #4d6d85;
        display: flex;
        flex-direction: column;
    }
    
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 50%;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
    
    
    .modal button {
        margin: 10px;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
        width: 70%;
    }

    .modal-title{
        font-size: 26px;
    }
}






@media (max-width: 450px) {
    #container {
        width: 80%;
    }

    .input-group input {
        padding: 8px;
    }

    button {
        padding: 8px;
        font-size: 16px;
    }

    input {
        width: 93%;
        font-size: 13px;
    }
    select {
        font-size: 13px;
    }

    h2 {
        font-size: 22px;
    }

    h3{
        font-size: 18px;
    }
    
    label {
        font-size: 15px;
    }


    .modal p{
        font-size: 14px;
        color: #4d6d85;
        display: flex;
        flex-direction: column;
    }
    
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
    
    
    .modal button {
        margin: 10px;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
        width: 80%;
    }

    .modal-title{
        font-size: 20px;
    }
}
